<!DOCTYPE html>
<html>
<title>Airline-delay-Prediction App</title>
<body>

<form action = "/getdelay" method="POST">
	<select name="origin">
                <option value="IAD">Dulles International Airport</option>
		<option value="IND">Indianapolis International Airport</option>
		<option value="ISP">Long Island MacArthur Airport</option>
		<option value="JAN">Jackson–Medgar Wiley Evers</option>
		<option value="JAX">Jacksonville International Airport</option>
        </select>
	<select name="dest">
                <option value="TPA">Tampa International Airport</option>
		<option value="LAS">McCarran International Airport</option>
		<option value="MCO">Orlando International Airport</option>
		<option value="MDW">Chicago Midway International Airport</option>
		<option value="BHM">Bhimrao Ambedkar Airstrip </option>
        </select>
	<p> Select Airline :   
	<select name="unique_carrier">
		<option value="AA">American Airlines </option>
		<option value="DL">Delta Air Lines </option>
		<option value="B6">JetBlue Airways</option>
		<option value="WN">Southwest Airlines </option>
		<option value="UA">United Air Lines </option>
	</select>
	<p> Select Day of Week:<input name="day_of_week" type ="text" value="0" /> </p>
	<p> Select Departure Time: <input name="dep_hour" type ="text" value="10" /> </p>
	<p> <input type ="submit" value="submit" /> </p>
</form>
</body>
</html>
